// $cor-0: #604d53;
// $cor-1: #ddd5d0;
// $cor-2: #cfc0bd;
// $cor-3: #f9f4f5;
// $cor-4: #ddbea9;
// $cor-5: #7f9183;
// $cor-6: #586f6b;
// $cor-7: #888d76;
// $cor-destaque: #db7f8e;


// OFICIAIS
// $cor-0: #cb997e;
// $cor-1: #eddcd2;
// $cor-2: #fff1e6;
// $cor-3: #f0efeb;
// $cor-4: #ddbea9;
// $cor-5: #a5a58d;
// $cor-6: #b7b7a4;
// $cor-7: #ccd5ae;
// $cor-destaque: #f08080;

$cor-0: #1c3738;
$cor-1: #f4fff8;
$cor-2: #f4fff8;
$cor-3: #f1f0f0;
$cor-4: #c6c7c4;
$cor-5: #3c7074;
$cor-6: #4d4847;
$cor-7: #ae9f99;
$cor-destaque: #325052;

// $cor-0: #846a6a;
// $cor-1: #eef0f2;
// $cor-2: #eef0f2;
// $cor-3: #eef0f2;
// $cor-4: #c6c7c4;
// $cor-5: #a2999e;
// $cor-6: #a2999e;
// $cor-7: #a2999e;
// $cor-destaque: #353b3c;
