.main_menu__container{
    display: flex;
    height: 40px;
    justify-content: space-between;
    background-color: $cor-0;
    align-items: center;
    height: 80px;   
    position: relative;
}

.items__list{
    padding-top:60px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-right: 100px;

}

.item{
    text-decoration: none;
    color: $cor-3;
    font-size: 17px;
    font-weight: bold;
    margin-left: 30px;
    
    

    &__current{
        color: $cor-5;
        font-weight: bold;
    }
}
.item:hover{
    transition: all 200ms ease-in-out;
    font-size: 18px;
    font-weight: bold;
}

.item__current:hover{
    text-decoration: none;
    color: $cor-7;
    font-size: 17px;
    }

.logo img{
    width: 100px;
    margin-left: 100px;
}

.login-div{
    display: flex;
    flex-direction: column;
}


.login-dropdown{
    display: flex;
    height: 130px;
    flex-direction: column;
    position: absolute;
    bottom: -130px; 
    background-color: $cor-2;
    padding: 10px;
    padding-bottom: 10px;
    right: 30px;
    font-weight: bold;
    color: $cor-0;
    font-size: 14px;
    line-height: 35px;
    opacity: 1;
    z-index: 0;
}

.login-dropdown input{
    border: 1px solid $cor-destaque;
    transition: all 200ms ease-in-out;
}
.login-dropdown label{
    transition: all 200ms ease-in-out;
}

.login-div:hover .login-dropdown{
    opacity: 1;
    transition: opacity 700ms ease;
    transform: translateY(0)
    // transform: translateY(30px);
}

.login-dropdown{
    opacity: 0;
    transform: translateY(-480px)
}

.login-dropdown:hover{
    opacity: 1;
}

.login-div{
    padding-bottom:60px;
}

// .retangulo{
//     background-color: $cor-0;
//     width: 400px;
//     height: 80px;
//     position: fixed;
//     top: 0;
//     right: 0;
// }